[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    st = status
    df = diff
    co = checkout
    b = branch
    newbr = checkout -b
    cm = commit -m
    conflicts = !git ls-files -u | cut -f 2 | sort -u
    acp = "!f(){ \
        echo [!]git add all && git add --al &&\
        echo [!]git commit && git commit -m $1 &&\
        echo [!]git push && git push;\
        };f"
    s  = "status"
    aa = "add -A"
    cm = "!f(){ echo [!]git commit && git commit -m $1;};f"


[init]
	defaultBranchf = main
	defaultBranch = main
	defaltBranch = main
	tempaltedir = ~/.git-templates/git-secrets

[pull]
	rebase = false

[user]
	email = hiyuman@gmail.com
	name = juro106

[grep]
	lineNumber = true
[safe]
	directory = /home/kenichiro/src/vim
	directory = /mn/storage/develop/horse_racing/mykeiba/mykeiba.git
	directory = /mnt/storage/develop/horse_racing/mykeiba/mykeiba.git
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
