[include]
	path = .gitconfig.user
	path = .gitconfig.os

[alias]
    alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
    acp = "!f(){ \
        echo [!]git add all && git add --al &&\
        echo [!]git commit && git commit -m $1 &&\
        echo [!]git push && git push;\
        };f"
    aa = "add -A"
    cm = "!f(){ echo [!]git commit && git commit -m $1;};f"

