[user]
	name = juro106
	email = hiyuman@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	# editor = 'C:/vim/vim.exe' -CODE=4
    # editor = \"/c/vim/gvim.exe\" -c \"set fenc=utf-8\"
    autoCRLF = input
    # preloadindex = true
    # fscache = true
    auto = 256
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "helperselector"]
	selected = <no helper>
[http]
	proxy = http://
[https]
	proxy = http://
[include]
	path = ~/.gitconfig_shared
